
@{
    ViewData["Title"] = "EndOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success">
    @TempData["SuccessMessage1"]
    @TempData["SuccessMessage2"]
    @TempData["SuccessMessage3"]
</div>

