@using ECommerce.DtoLayer.Dtos.AppRoleDtos;
@model CreateAppRoleDto
@{
    ViewData["Title"] = "AddRole";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 col-md-12">
    <div class="card">
        <div class="header">
         
        </div>
        <div class="body">
            <form method="post" class="forms-sample">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Rol Adı : </span>
                    </div>
                    <input type="text" asp-for="Name" class="form-control" placeholder="Rol adını giriniz." aria-describedby="basic-addon1">
                </div>
                <div class="mb-3">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary me-2 col-12">Rol Ekle!</button>
            </form>
        </div>
    </div>
</div>

