@using ECommerce.DtoLayer.Dtos.AppRoleDtos;
@model  List<ResultAppUserRoleDto>
@{
    ViewData["Title"] = "UserRoleList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Kullanıcı Adı</th>
                    <th>Rol Ata</th>
                </tr>
            </thead>
            
            <tbody>
                @foreach (var item in Model)
                {
               
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.UserName</td>
                        <td><a href="/Admin/Role/AssignRole/@item.Id" class="btn btn-outline-info">Role Ata</a></td>
                    </tr>
                   
                }
            </tbody>
                

                
        </table>

       
    </div>
</div>


