
<div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
	<form method="post" >
		<h4 class="mtext-105 cl2 txt-center p-b-30">
			Bize Ulaşın
		</h4>

		<div class="bor8 m-b-20 how-pos4-parent">
			<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="email" placeholder="Mail Adresiniz">

		</div>

		<div class="bor8 m-b-30">
			<textarea class="stext-111 cl2 plh3 size-120 p-lr-28 p-tb-25" name="message" placeholder="Size nasıl yardımcı olabiliriz?"></textarea>
		</div>

		<button  class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
			Gönder
		</button>
	</form>
</div>