
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/coza/images/bg-01.jpg');">
	<h2 class="ltext-105 cl0 txt-center">
		İLETİŞİM
	</h2>
</section>

<section class="bg0 p-t-104 p-b-116">
	<div class="container">
		<div class="flex-w flex-tr">

			<partial name="_SendMessage" />

	     <vc:contact-list/>
		</div>
	</div>
</section>

<div class="map">
	<partial name="_MapPartial" />

</div>





