@using ECommerce.DtoLayer.Dtos.ContactDtos;
@model List<ResultContactDto>

<div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
	@foreach (var item in Model)
	{
		
	
	<div class="flex-w w-full p-b-42">
		<span class="fs-18 cl5 txt-center size-211">
			<span class="lnr lnr-map-marker"></span>
		</span>

		<div class="size-212 p-t-2">
			<span class="mtext-110 cl2">
				Adres
			</span>

			<p class="stext-115 cl6 size-213 p-t-18">
				@item.Adress
			</p>
		</div>
	</div>

	<div class="flex-w w-full p-b-42">
		<span class="fs-18 cl5 txt-center size-211">
			<span class="lnr lnr-phone-handset"></span>
		</span>

		<div class="size-212 p-t-2">
			<span class="mtext-110 cl2">
				Telefon
			</span>

			<p class="stext-115 cl1 size-213 p-t-18">
				@item.Phone
			</p>
		</div>
	</div>

	<div class="flex-w w-full">
		<span class="fs-18 cl5 txt-center size-211">
			<span class="lnr lnr-envelope"></span>
		</span>

		<div class="size-212 p-t-2">
			<span class="mtext-110 cl2">
				Mail
			</span>

			<p class="stext-115 cl1 size-213 p-t-18">
				@item.Email
			</p>
		</div>
		
	</div>
	}
</div>