@using ECommerce.DtoLayer.Dtos.ProductDtos
@model List<ResultProductDto>

<section class="bg0 p-t-23 p-b-140">
    <div class="container-fluid mb-4">
        <div class="p-b-10">
            <h3 class="ltext-103 cl5">
                Ürünlerimiz
            </h3>
        </div>
    </div>

    <div class="container-fluid mb-4">
        <div class="row isotope-grid">
            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                    
                    <section class="mb-4">
                       
                        <div class="block2">
                            <div class="block2-pic hov-img0">
                                <img src="@item.Image" alt="IMG-PRODUCT">
                            </div>
                            <div class="block2-txt flex-w flex-t p-t-14">
                                <div class="block2-txt-child1 flex-col-l">
                                    <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                        @item.Name
                                    </a>
                                    <span class="stext-105 cl3">
                                        @item.Price
                                    </span>
                                </div>
                                <div class="block2-txt-child2 flex-r p-t-3">
                                    <form asp-controller="Cart" asp-action="AddToCart" method="post" class="form-inline" onsubmit="return addToCart()">
                                        <input type="hidden" name="productId" value="@item.Id" />
                                        <div class="input-group mb-3">
                                            <input type="number" name="quantity" class="form-control" value="1" min="1" step="1" style="width:100px;" />

                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-primary">
                                                    <i class="zmdi zmdi-shopping-cart"></i> Sepete Ekle
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            }
        </div>
    </div>
</section>

<script>
    function addToCart() {
        Swal.fire({
            timer: 60000 ,
            title: 'Başarılı!',
            text: 'Ürün sepete başarıyla eklendi.',
            icon: 'success',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Satın Al',
            cancelButtonText: 'Alışverişe Devam Et'
        }).then((result) => {
            if (result.isConfirmed) {
                // "Satın Al" butonuna basıldığında yapılacak işlemler buraya gelir
                window.location.href = '/Cart/Index'; // Örnek olarak, sepete gitmek için yönlendirme
            } else {
                window.location.href = '/Shop/Index'; 
            }
        });

        // Form submit işlemine devam et
        return true;
    }
</script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>